.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

input:focus {
  outline: none;
}

.app-layout {
  width: 900px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.app-layout > div:nth-child(1) {
  width:100%;
  height: 50px;
  background-color: beige;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}

.app-layout > div:nth-child(2) {
  display: flex;
}

.app-layout > div:nth-child(2) > div {
  /* flex: 1 */
  /* transition: all .3s cubic-bezier(0.55, 0.085, 0.68, 0.53); */
}

.app-layout > div:nth-child(2) > div:first-child {
  padding: 75px;
}

.app-layout > div:nth-child(2) > div:last-child {
  height: 600px;
  background-color: aquamarine;
  display: none;
}

.app-layout > div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed ;
  margin: 5px;
}

table th, td {
  border: 1px solid black;
  text-align: center;
}

table td input {
  width: 100%;
  text-align: center;
  border: none;
}

button {
  padding: 5px 10px;
  background-color: deepskyblue
}
